.client.tango {

  $_white: #D3D7CF;   $_light_white: #EEEEEC;
  $_gray: #888A85;    $_light_gray: #BABDB6;
  $_black: #2E3436;   $_light_black: #555753;
  $_blue: #3465A4;    $_light_blue: #729FCF;
  $_cyan: #06989A;    $_light_cyan: #34E2E2;
  $_green: #73D216;   $_light_green: #8AE234;
  $_magenta: #75507B; $_light_magenta: #AD7FA8;
  $_red: #CC0000;     $_light_red: #EF2929;
  $_yellow: #EDD400;  $_light_yellow: #FCE94F;
  $_orange: #F57900;  $_light_orange: #FCAF3E;

  background-color: black;
  color: $_white;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12pt;

  @mixin embolden($light_color) {
    &.bold, .bold, .bold & {
      color: $light_color;
    }
  }

  @mixin invert($color) {
    &.inverse, .inverse, .inverse & {
      color: black;
      background-color: $color;
    }
  }

  @mixin bold_invert($light_color) {
    &.bold.inverse,
    & .bold.inverse,
    & .bold .inverse,
    & .inverse .bold,
    .bold &.inverse,
    .bold & .inverse,
    .bold .inverse &,
    .bold.inverse &,
    .inverse &.bold,
    .inverse & .bold,
    .inverse .bold & {
      color: black;
      background-color: $light_color;
    }
  }

  .italic { font-style: italic; }
  .underline { text-decoration: underline; }

  .bold {
    color: $_light_white;
  }

  .inverse {
    color: black;
    background-color: $_white;
  }

  .bold.inverse,
  .bold .inverse,
  .inverse .bold {
    color: black;
    background-color: $_light_white;
  }

  .pre {
    white-space: pre;
  }

  .white        { color: $_white;   @include invert($_white);   @include embolden($_light_white);   @include bold_invert($_light_white);   }
  .grey, .gray  { color: $_gray;    @include invert($_gray);    @include embolden($_light_gray);    @include bold_invert($_light_gray);    }
  .black        { color: $_black;   @include invert($_black);   @include embolden($_light_black);   @include bold_invert($_light_black);   }
  .blue         { color: $_blue;    @include invert($_blue);    @include embolden($_light_blue);    @include bold_invert($_light_blue);    }
  .cyan         { color: $_cyan;    @include invert($_cyan);    @include embolden($_light_cyan);    @include bold_invert($_light_cyan);    }
  .green        { color: $_green;   @include invert($_green);   @include embolden($_light_green);   @include bold_invert($_light_green);   }
  .magenta      { color: $_magenta; @include invert($_magenta); @include embolden($_light_magenta); @include bold_invert($_light_magenta); }
  .red          { color: $_red;     @include invert($_red);     @include embolden($_light_red);     @include bold_invert($_light_red);     }
  .yellow       { color: $_yellow;  @include invert($_yellow);  @include embolden($_light_yellow);  @include bold_invert($_light_yellow);  }
  .orange       { color: $_orange;  @include invert($_orange);  @include embolden($_light_orange);  @include bold_invert($_light_orange);  }

  input {
    background-color: black;
  }

  a {
    text-decoration: none;

    &:link, &:visited {
      color: $_light_blue
    }

    &:hover {
      color: black;
      background-color: $_light_blue;
    }
  }

}
