@import 'vendor/normalize';
@import 'themes/tango';
@import 'lib/mixins';
@import 'tabs';
@import 'editor';

html {
  cursor: text;
}

body {
  font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.padded-trl { padding: 4px 4px 0 4px; }
.padded-rl { padding: 0 4px; }

.screen {
  white-space: pre-wrap;

  > div {
    min-height: 1.31em;
    max-width: 80ch;
    min-width: 40ch;
  }
}
