.tabs {
  height: 18px;
  width: 100%;
  position: fixed;
  background-color: #666;

  .tab {
    @extend .user-select-none;
    position: relative;

    font-size: 75%;

    height: 16px;
    width: 149px;

    display: inline-block;
    color: #aaa;
    background-color: #333;
    cursor: pointer;

    border: 1px solid #555;
    border-left: none;

    &.active {
      color: white;
      background-color: black;
      border-bottom-color: black;
    }

    .tab-close-button {
      display: none;
      position: absolute;
      right: 5px;
      color: #666;

      &:after {
        content: '✕'
      }
    }

    &.dirty, &.active, &:hover {
      .tab-close-button {
        display: inline-block;
      }
    }

    &:hover {
      .tab-close-button {
        color: red;
      }
    }

    &.dirty {
      .tab-close-button {
        color: #729FCF;
        font-size: 90%;

        &:after {
          content: '◯'
        }
      }

      &:hover {
        .tab-close-button {
          color: red;
          font-size: 100%;

          &:after {
            content: '✕'
          }
        }
      }
    }

    .tab-name {
      display: inline-block;

      width: 124px;

      padding-left: 5px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.tab-pane {

  &.tabs-visible {
    padding-top: 18px;
  }
}
