doctype html
html.client.tango
  head
    title Room.js Client
    script(type='text/javascript', src='js/bundle.js')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', href='css/main.css')
  body(data-bind='event: {keydown: onKeyDown, keyup: onKeyUp}')

    script#client(type='text/html')
      .screen.flex-1.padded-trl(data-bind='foreach: { data: outputLines, afterAdd: scrollToBottom }')
        .line(data-bind='html: $data')
      div
        form.flex(data-bind='submit: send')
          span.padded-rl(data-bind='html: promptText')
          input.flex-1.no-border.no-outline(data-bind='value: input, hasFocus: inputHasFocus, attr: {type: inputType}, event: {keydown: recall}')

    script#no-tabs(type='text/html')
      .screen.flex-1.padded-trl
        .line
          | You have no tabs open. Open a new&nbsp;
          a(href='#' data-bind='click: newClientTab') client tab
          | &nbsp;to get started.

    script#editor(type='text/html')
      //- button(data-bind='click: save') Save
      label
        span Pattern:
        input(type='text', data-bind='value: pattern')
      label
        span Direct Object:
        select(data-bind='value: dobjarg')
          option(value='none') none
          option(value='this') this
          option(value='any') any
      label
        span Preposition:
        select(data-bind='value: preparg')
          option(value='none') none
          option(value='any') any
          option(value='with/using') with/using
          option(value='at/to') at/to
          option(value='in front of') in front of
          option(value='in/inside/into') in/inside/into
          option(value='on top of/on/onto/upon') on top of/on/onto/upon
          option(value='out of/from inside/from') out of/from inside/from
          option(value='over') over
          option(value='through') through
          option(value='under/underneath/beneath') under/underneath/beneath
          option(value='behind') behind
          option(value='beside') beside
          option(value='for/about') for/about
          option(value='is') is
          option(value='as') as
          option(value='off/off of') off/off of
      label
        span Indirect Object:
        select(data-bind='value: iobjarg')
          option(value='none') none
          option(value='this') this
          option(value='any') any

    script#function-editor(type='text/html')
      //- button(data-bind='click: save') Save

    .tabs(data-bind='foreach: tabs, visible: visible')
      .tab(data-bind='attr: {title: name}, css: {active: active, dirty: dirty}, click: select')
        span.tab-name(data-bind='text: name')
        span.tab-close-button(data-bind='click: close, clickBubble: false')
    .tab-pane(data-bind='template: templateBinding, css: tabPaneClasses')
    div(data-bind='if: editorHasLoaded')
      .editor(data-bind='visible: editorVisible, autoHeight: autoHeight, ace: activeAceBinding')
